@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
    font-family: 'Questrial', sans-serif;
    color: white;

}


.layoutGrid {
    display: grid;
    grid-template-columns: 25vh auto;
    grid-template-rows: 15vh 85vh;
}

.layoutGrid > div {
    border: 0px solid blue;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden;
}

div .contentContainer {
    overflow-y: scroll;
    background: #D5D5D5;
}